.App {
  font-family: sans-serif;
}

.card {
  border: blue 1px solid;
}
.card.flipped {
  border-color: red;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid .card {
  height: 100px;
}
